<ion-content title="Favoriten Verwalten" id="page10" style="background-color:#83A09E;">
   <ion-header>
  <ion-navbar>
    <ion-title>
      <h3>Favorit verwalten
	  <img class="image" height="40px" src="../imgs/logo.jpg"/></h3>
    </ion-title>
  </ion-navbar>
</ion-header>

    <br><br><br><br><br><p></p><br><br>
    <div id="favoritenVerwalten-container2">
      <form (submit)="action()">
	  
	  <ion-list>
		<ion-item>
		  <ion-label>Kaffeesorte</ion-label>
		  <ion-select (ionChange) = "setFill()" [(ngModel)]="favoritProperties.description" name="description">
			<ion-option [selected]="'Capuccino' === favoritProperties.description">Capuccino</ion-option>
			<ion-option [selected]="'Espresso' === favoritProperties.description">Espresso</ion-option>
			<ion-option [selected]="'Espresso Macchiato' === favoritProperties.description">Espresso Macchiato</ion-option>
			<ion-option [selected]="'Kaffee' === favoritProperties.description">Kaffee</ion-option>
			<ion-option  [selected]="'Latte Macchiato' === favoritProperties.description">Latte Macchiato</ion-option>
			<ion-option [selected]="'Milchkaffee' === favoritProperties.description">Milchkaffee</ion-option>
		  </ion-select>
		</ion-item>
			
        <ion-item>
		  <ion-label>Bohnenmenge</ion-label>
		  <ion-select [(ngModel)]="favoritProperties.beanAmount" name="beanAmount" >
			<ion-option value="ConsumerProducts.CoffeeMaker.EnumType.BeanAmount.Mild">Mild (2g)</ion-option>
			<ion-option value="ConsumerProducts.CoffeeMaker.EnumType.BeanAmount.Normal">Normal(5g)</ion-option>
			<ion-option value="ConsumerProducts.CoffeeMaker.EnumType.BeanAmount.Strong">Stark (10g)</ion-option>
			<ion-option value="ConsumerProducts.CoffeeMaker.EnumType.BeanAmount.VeryStrong">Sehr stark (13g)</ion-option>
			<ion-option value="ConsumerProducts.CoffeeMaker.EnumType.BeanAmount.DoubleShot">Double shot (23g)</ion-option>
			<ion-option value="ConsumerProducts.CoffeeMaker.EnumType.BeanAmount.DoubleShotPlus">Double shot plus (25g)</ion-option>
		</ion-select>
		</ion-item>
		
		<ion-item>
		  <ion-label>Füllmenge</ion-label>
		  <ion-select  [(ngModel)]="favoritProperties.fillAmount" name="fillAmount" >
			<ion-option *ngFor="let fill of listToLoad" [value]="fill">{{fill}} Ml</ion-option>
		  </ion-select>	  
		</ion-item>

  
		</ion-list>
        <div class="spacer" style="width: 300px; height: 18.9844px;"></div>
		<ion-item *ngIf="notBlocked">
			<ion-label>Bestellen</ion-label>
			<ion-checkbox [(ngModel)]="bestellen" name="bestellen"  id="favoritenVerwalten-checkbox30"></ion-checkbox>
		</ion-item>
		<ion-item *ngIf="rechnung">
			<ion-label class="red">Bitte Rechnung zahlen!</ion-label>
		</ion-item>
		<div class="spacer" style="width: 300px; height: 10px;"></div>
        <div id="favoritenVerwalten-button-bar3" class="button-bar">
          <button ion-button block type="submit" class="submit-btn">Speichern</button>
        </div>
      </form>
    </div>
</ion-content>