page-lager-verwalten{
	ion-item {
		width: 80% !important;
		margin-left: 10% !important;
		height: 50px !important;
		background-color: #b5c7c5 !important;
		font-weight: bold !important;
		border-radius: 1px !important;
		font-size: 20px !important;
		text-align: center !important;
		
	}
	.artikel{
		background-color: grey !important;
		color: white !important;
	}
	
	.image{
		display:inline-block;
		margin-left:75%;
	}
}